.container {
  /* display: flex;
  flex-direction: column; */
  display: grid;
  position: relative;
  margin-left: 0px !important;
  width: 650px !important;
  height: flex;
  background-color: #9dba9a;
  border-radius: 16px;
  padding-top: 50px;
  padding-bottom: 50px;
  padding-left: 50px !important;
  padding-right: 50px !important;
  display: 1px solid red !important;
}

.button2 {
  position: absolute;
  right: 50px;
}

.rowabc {
  display: flex;
  /* justify-content: center; */
  align-items: center;
  /* border: 1px solid red; */
  justify-content: space-between;
  margin-top: -100px;
}

#form12 {
  border-radius: 16px;
  height: 32px;
}

.wow1 {
  display: flex;
  flex-direction: row;
  /* border: 1px solid red; */
  /* margin-left: -50px; */
  width: 70px;
  margin-bottom: 10px;
}

#textabc {
  height: 32px;
  border-radius: 16px;
}

img {
  width: 24px;
}

input {
  border-radius: 18px;
  padding: 20px; 
  width: 375px;
  height: 15px;
}

#save {
  margin-right: 10px;
}

#sad {
  margin-top: -125px;
}

#submit {
  margin: 10px; 
  border-radius: 18px;
  background-color: #ecd9ba;
  height: 32px;
  border: 1px solid black;
  width: 80px;

}

.button {
  display: flex;
  justify-self: flex-end;
  align-self: flex-end;
  float: right;
}

#edit {
  border-radius: 18px;
}

#edit2 {
  margin-right: 10px;
}

#delete {
  
  border-radius: 18px;
  
}

/* .btn {
  display: flex;
  justify-self: flex-end;
  align-self: flex-end;
  border: 1px solid red !important; 
  float: right;
} */